In [1]:
import pandas as pd

# df = pd.read_csv('data.csv', sep=',', names=['User_Name','Rating','Hotel_Name'])

# df['User_Name'] = df['User_Name'].str.capitalize()
# df['Hotel_Name'] = df['Hotel_Name'].str.capitalize()

Ratings =pd.read_csv('ratings.csv',encoding="latin-1")
Hotels =pd.read_csv('hotels.csv',encoding="latin-1")

Ratings['user_name'] = Ratings['user_name'].str.capitalize()
Hotels['hotel_name'] = Hotels['hotel_name'].str.capitalize()

df=pd.merge(Ratings, Hotels)

In [2]:
hotel_matrix = df.pivot_table(index='hotel_name', columns='user_name', values='rating')
hotel_matrix.head()

user_name,Aryan,Ashish,Erica,Hom,Mary,Nischal,Nivaja,Sagar,Sahil,Sumitra,Sunita,Surya,Sushant
hotel_name,,,,,,,,,,,,,
Annapurna,3.600000,2.285714,2.714286,1.833333,3.750000,3.000000,2.875000,3.833333,3.571429,3.444444,2.857143,2.375000,3.250000
Everest,2.181818,3.000000,1.800000,2.600000,2.500000,1.875000,3.600000,3.333333,3.000000,2.800000,2.833333,2.125000,2.857143
Goodwill,2.300000,3.000000,3.500000,2.333333,2.857143,3.142857,4.000000,3.666667,3.375000,3.500000,2.333333,2.500000,2.857143
Himalaya,3.000000,3.500000,2.636364,3.000000,2.285714,3.200000,1.500000,2.285714,3.000000,2.428571,2.800000,2.333333,3.500000
Malla,4.000000,3.444444,4.111111,2.333333,2.375000,3.100000,3.428571,2.500000,3.333333,3.500000,2.600000,3.666667,2.333333

In [3]:
# Pearson correlation
# corr = hotel_matrix.corr(method = 'pearson')


userRatings = hotel_matrix.loc['Annapurna'].dropna()
userRatings

user_name
Aryan      3.600000
Ashish     2.285714
Erica      2.714286
Hom        1.833333
Mary       3.750000
Nischal    3.000000
Nivaja     2.875000
Sagar      3.833333
Sahil      3.571429
Sumitra    3.444444
Sunita     2.857143
Surya      2.375000
Sushant    3.250000
Name: Annapurna, dtype: float64

In [4]:
simUsers = pd.Series()

for i in range(0, len(userRatings.index)):
    sims = corr[userRatings.index[i]].dropna()
    sims = sims.map(lambda x: x * userRatings[i])
    simUsers = simUsers.append(sims)

In [5]:
# Similar users
simUsers = simUsers.groupby(simUsers.index).sum()
simUsers.sort_values(inplace = True, ascending = False)

In [6]:
simUsers

Erica      8.626815
Surya      6.096917
Aryan      5.794113
Nivaja     4.365138
Sahil      3.738895
Nischal    3.286045
Sagar      2.770952
Mary       2.633393
Sumitra    2.483665
Hom        1.222836
Sushant    0.748839
Sunita     0.304396
Ashish    -1.173088
dtype: float64

In [7]:
# Checkings for ratings greater than 4
d = simUsers[simUsers>4]

In [8]:
if len(d) == 0:
    print("Nothing To Recommend. Sorry")
else:
    print(d)

Erica     8.626815
Surya     6.096917
Aryan     5.794113
Nivaja    4.365138
dtype: float64

In [9]:
# df = d.to_frame().reset_index()
# df = df.rename(columns= {0: 'list'})
# df.index.name = 'index'
# df['index']